<!DOCTYPE html>
<html>
  <head>
    <title>Employment Verification Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../public/css/verification.css">
  </head>
  <body>
    <div class="testbox">
    <form action="/">
      <p>Silakan isi dengan informasi yang diminta di bawah ini dan kirimkan formulir verifikasi. Terima kasih!</p>
      <hr/>
      <fieldset>
      <legend>Informasi Diri</legend>
      <div class="item">
        <label for="name">Nama<span>*</span></label>
        <div class="name-item">
          <input id="name" type="text" name="name" placeholder="Nama Depan" required/>
          <input id="name" type="text" name="name" placeholder="Nama Belakang" required/>
        </div>
      </div>
      <div class="item">
        <label for="bdate">Tanggal Lahir<span>*</span></label>
        <input id="bdate" type="date" name="bdate" required/>
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="item">
        <label for="email">Email<span>*</span></label>
        <input id="email" type="text" name="text" required/>
      </div>
      <div class="item">
        <!-- <label for="position">Position<span>*</span></label>
        <input id="position" type="text" name="text" required /> -->
        <div class="input-group">
          <div class="input-group-prepend">
            <label for="KTP">Upload KTP<span>*</span></label> 
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01" required/>
          </div>
        </div>
      </div>
      <fieldset>
        <div class="btn-block">
        <button type="submit" href="/">VERIFIKASI</button>
      </div>
    </form>
    </div>
  </body>
</html>